@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Trispace:wght@100..800&display=swap');
@import "font-awesome";
@import "responsive.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html { overflow-x:hidden; }

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(#000000b5, rgba(2, 10, 10, 0.77)), url(https://wallpapers.com/images/hd/cooking-background-kk2seuicibm5qx0o.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Trispace", sans-serif;
}

a {
  background-color: #ffffff3c;
  padding: 8px;
  border-radius: 1rem;
  text-decoration: none;
  color: #ffffff;
}
/* INDEX */

li {
  list-style: none;
  width: max-content;
}


p {
  color: #cdcdcd;
}
/* HEADER */
.header {
  display: flex;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.header::before {
  /* content: ""; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a#logo {
  background: transparent;
}

div.logo {
  display: flex;
  align-items: center;
}

/* top link hover */
ul.links li a {
  background-image: linear-gradient(
    to right,
    #6ACFC7,
    #1c857d 50%,
    #b3fff9 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

ul.links li a:before {
  content: '';
  background: #6ACFC7;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

ul.links li a:hover {
 background-position: 0;
}

ul.links li a:hover::before{
  width: 100%;
}

#logo {
  width: 80px;
  border-radius: 50%;
  margin: 0 1.5rem;
}

ul.links {
  display: flex;
  align-items: center;
}

ul.links li a {
  margin: 2rem;
  color: #6ACFC7;
}

ul.links li a:hover {
  color: #85fff5;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.navbar {
  width: 100vw;
  height: 6rem;
  margin: 0 2rem;
  display: flex;
  justify-content: flex-end;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

/* ICON */
/* HAMBURGER BAR */
#check {
  display: none;
}

div.toggle_btn {
  display: flex;
  align-items: center;
}

.icons {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
  display: none;
}

/* INDEX */
/* INTRODUCTION */
div#intro_container {
  max-width: 100vw;
  height: 85vh;
}

.greet {
  display: flex;
  justify-content: flex-end;
}

h2#intro_name1.intro_name {
  color: #9ae9e3;
  font-size: 125px;
}

div.chutima_container {
  max-width: 100vw;
}

#chutima {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

h1#about_me {
  font-size: 4vw;
}

h1#intro_greet {
  font-size: 10vw;
  color: #cdcdcd;
  width: fit-content;
  letter-spacing: 5px;
}

h1#intro_greet:hover {
  color: #f0f0f0;
  cursor: pointer;
  transition: 400ms ease-in-out;
  text-shadow:  2px 2px 5px #a1a1a1;
}

#intro_container h2 {
  font-size: 6rem;
  color:#cdcdcd;
  margin-right: 1.5rem;
}

h2#skills {
  font-size: 4vw;
}

#i_am {
  font-size: 3rem;
  color:#cdcdcd;
}

em {
  margin: 0 12px;
}

div.greet_name {
  display: flex;
  justify-content: space-around;
}

h2.intro_name {
  font-size: 6rem;
}

.floating {
  animation-name: floating;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }
}

#chef {
  font-size: 1.5rem;
  color: #cdcdcd;
  display: flex;
  justify-content: flex-start;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(204deg, #003b41 10%, #00805a 29%, #27f9e6 67%, #8dd2c5 50%);
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 12vw;
  position: relative;
  right: 2rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.intro_text_wrap {
  display: flex;
  justify-content: flex-end;
}

div.intro_text {
  width: 70%;
  letter-spacing: 1px;
  font-size: 16px;
}

.animated_intro p {
  font-size: 1.5vw;
  position: relative;
  bottom: 30px;
  left: 8rem;
}

section.intro_section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

div.section_container {
  width: 70%;
    color: white;
    display: flex;
    white-space: pre-line;
    justify-content: center;
}

/* ABOUT ME */
.scroll-container {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
}

section.about_me {
  min-height: 100vh;
  position: relative;
}

#about_me {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

div.about_container {
  display: flex;
  justify-content: center;
}

div.my_photo {
  display: flex;
   justify-content: center;
}

div.photo_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 12rem;
  bottom: 20px;
  position: relative;
}

div.about_content {
  position: absolute;
  top: 15%;
  display: flex;
  max-width: 100vw;
  align-items: center;
  flex-direction: column;
}

img#my_photo {
  width: 15vw;
  border-radius: 50%;
}

#introduction {
  min-width: 65vw;
  text-align: center;
  color: white;
  padding: 40px;
  letter-spacing: 1px;
}

div.intro_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#resume:hover {
  transform: scale(1.08);
  transition: all .5s ease;
}

#resume {
  color: #9ae9e3;
}

/* icon */

i.bx.bxs-download {
  font-size: 15px;
  position: relative;
  top: 2px;
  margin-right: 4px;
}

div.icons-skills {
  display: flex;
  max-width: 100vw;
  justify-content: center;
}

#skill {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 4rem;
}

div.skills-section {
  margin: 1.5rem 12rem;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.skills-section > h3 {
  font-size: 1.2rem;
  margin: 12px;
  letter-spacing: 3px;
}

.frontend, .backend, .database, .design-tools, .dev-tools {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.skills-section i {
  font-size: 3vw;
}

.skills-section img {
  width: 3vw;
}

div.skills-section.row {
  grid-template-columns: 1fr 2fr;
  display: grid;
  justify-items: center;
  grid-row-gap: 0.5rem;
}

.iconify {
  font-size: 2.7em;
  margin-top: 2px;
}

/* CONTACT ME */
.contact {
  padding-bottom: 0;
}

.contact_container {
  margin-top: 5rem;
}

.contact_mail {
  background-color: black;
  padding: 1rem 4.5rem 4.5rem;
  border-radius: 1rem;
}

section#contact.contact_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact_me {
  color: white;
}

.contact_title {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

label {
  color: white;
}

.contact_form, .contact_group {
  display: grid;
  row-gap: 1.2rem;
}

.contact_form {
  position: relative;
}

.contact_box {
  position: relative;
  width: 100%;
  height: 58px;
}

.contact_input {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: .5rem 1rem;
  font-weight:700;
  transition: border .4s, background-color .4s;
}

textarea#message.contact_input {
  height: 5rem;
}

button.contact_btn {
  margin-top: 2rem;
  height: 2.5rem;
}

div.contact_social {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.contact_input::placeholder {
  color: white;
  transition: opacity .4s;
}

.contact_input:focus {
  border: 3px solid white;
}

.contact_input:-webkit-autofill {
  transition: background-color 6000s, color 6000s;
}

.contact_label {
  position: absolute;
  top: -16px;
  left: 10px;
  color: white;
  font-size: .7rem;
  font-weight: 300;
  background-color: black;
  padding: 8px;
  pointer-events: none;
  transition: top .4s, opacity .4s, background-color .4s;
  opacity: 0;
}

.contact_area textarea {
  resize: none;
  padding-top: 1rem;
}

/* buttons */
a#resume {
  max-width: 20vw;
  display: flex;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .2s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 7px 10px 7px;
  color: #64d6ce;
  box-shadow: inset 0 0 0 2px #69a09c;
  background-color: #9fdfdb00;
  height: 5vh;
  transition: 300ms ease-in-out;
  align-items: center;
}

a#resume:hover {
  cursor: pointer;
  color: #9fdfdb;
  text-shadow: 1px 1px 1px 2px #1f2222;
  background-color: #04423ad8;
}

/*  animated text */
.animated {
	padding: 0;
	margin: 0;
	margin-left: 45%;
	transform: translateX(-100%);
	opacity: 0;
	animation: slide-in-anim 2.5s ease-in-out forwards;
}

.animated_intro {
	padding: 0;
	margin: 0;
	margin-left: 50%;
	transform: translateX(-100%);
	opacity: 0;
	animation: slide-in-anim 2.5s ease-in-out forwards;
}

div#text_intro.animated_intro {
  width: 80%;
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}

.contact_btn {
  background-color: #9ae9e3;
  cursor: pointer;
  border: none;
}

i.bx.bx-mail-send {
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* placeholder disappear */
.contact_input:focus::placeholder {
  opacity: 0;
}

/* move label up $ sticky label */
.contact_input:focus + .contact_label, .contact_input:not(:placeholder-shown).contact_input:not(:focus) + .contact_label {
  opacity: 1;
  top: -16px;
}

div.contact_social_links {
  margin-top: 1.2rem;
}

a.social_link {
  font-size: 30px;
  text-decoration: none;
  background: transparent;
}

.contact_social_links {
  column-gap: 2.75rem;
}

.social_link {
  padding: 5px;
  place-items: center;
  transition: background-color .3s;
}

.social_link:hover {
  color: #ffffff;
}

#contact_message {
  color: white;
  font-size: 15px;
  position: absolute;
  bottom: -2.5rem;
  left: 0;
}

/* projects */
h3.section_subtitle {
  text-align: center;
  color:white;
  font-size: 3rem;
}

#projects {
  position: relative;
  top: 20%;
  min-height: 100vh;
}

.projects_container {
  row-gap: 2rem;
  column-gap: 3rem;
  margin: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: 1rem;
}

.projects_card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projects_img {
  width: 100%;
  height: 100%;
}

.projects_modal {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(175deg, #a5f6ef6e, #2f2f2fbf);
  backdrop-filter: blur(30px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects_modal:hover {
  transition: 450ms ease-in-out;
  backdrop-filter: blur(1px);
}

.projects_subtitle {
  color: white;
  margin-bottom: .25rem;
}

.projects_subtitle {
  font-size: 1.8vw;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projects_title {
  font-size: 25px;
  margin-bottom: .75rem;
  color: white;
}

a#projects_button {
  background-color: #ffffff3c;
  padding: 8px;
  border-radius: 1rem;
  text-decoration: none;
  color: #ffffff;
}

/* .projects_button {
  display: flex;
  align-items: center;
  column-gap: 5rem;
} */

.projects_button i {
  font-size: 1.25rem;
}


/*--------------------- RESPONSIVE DESIGN ----------------------*/
@media(max-width: 1130px) {
  #skill {
    margin-top: 2rem;
  }

  .skills-section i {
    font-size: 4vw;
  }

  .skills-section img {
    width: 4vw;
  }

  #skill {
    bottom: 6rem;
  }
}

@media(max-width: 992px) {

  .navbar .links {
    display: flex;
    font-size: 1rem;
  }

  #logo {
    width: 70px;
    transition: 400ms ease;
  }

  h1#intro_greet {
    font-size: 12vw;
  }

  #intro_container h2 {
    font-size: 4rem;
  }

  div#chutima.animated {
    position: relative;
    right: 1rem;
  }

  .animated_intro p {
    font-size: 2vw;
    position: relative;
    left: 8rem;
  }

  a#resume {
    max-width: 30vw;
    padding: 5px;
    height: 4.5vh;
  }

  i.bx.bxs-download {
    font-size: 17px;
    position: relative;
    left: 5px;
  }

  div.skills-section.row {
    grid-row-gap: 0;
  }

  #skill {
    margin-top: 2rem;
  }

  .skills-section i {
    font-size: 5vw;
  }

  .skills-section img {
    width: 5vw;
  }

  h2#skills {
    margin-top: 2rem;
  }

  #projects {
    position: relative;
    top: 15%;
  }
}
/* ------------------------------------------------------- */
@media (max-width: 768px) {
  div#intro_container {
    height: 80vh;
  }

  #logo {
    top: 10px;
    position: relative;
    width: 65px;
  }

  ul.links li a {
    font-size: 1rem;
    margin: 1.2rem;
  }

  h1#intro_greet {
    font-size: 15vw;
    right: 8vw;
    position: relative;
  }

  #i_am {
    font-size: 5vw;
    margin-left: 2rem;
  }

  #chutima {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  #intro_container h2 {
    font-size: 3.5rem;
  }

  #chef {
    font-size: 4vw;
    margin-left: 2rem;
  }

  .animated_intro p {
    font-size: 2.2vw;
    position: relative;
    bottom: 30px;
    left: 2rem;
  }

  .icons {
    display: inline-flex;
    padding: 2rem;
    position: absolute;
    top:0;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 110%;
    left: -30px;
    height: 0;
    overflow: hidden;
    width: 100%;
    background: rgb(0 0 0 / 17%);
    backdrop-filter: blur(10px);
  }

  #check:checked~.navbar {
    height: 14rem;
  }

  .navbar .links {
    display: flex;
    flex-direction: column;
  }
  .navbar a {
    display: block;
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
    transform: translateY(-10px);
    transition: .3s ease;
    opacity: 0;
  }

  #check:checked~.navbar {
    height: 10rem;
  }

  #check:checked~.navbar a {
    transform: translateY(-15px);
    opacity: 1;
    transition-delay: calc(.15 * var(--i)) ;
  }

  li {
    margin-bottom: -30px;
  }

  .scroll-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
  }

  p#introduction {
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 20px;
  }

  img#my_photo {
    width: 22vw;
  }

  a#resume {
    max-width: 30vw;
    padding: 10px;
    height: 4.5vh;
    font-size: 12px;
  }

  #skill {
    margin-top: 4rem;
  }

  .skills-section i {
    font-size: 5vw;
  }

  .skills-section img {
    width: 5vw;
  }

  div.skills-section {
    margin: 2rem 4rem;
  }
  .skills-section > h3 {
    font-size: .8rem;
  }

  .projects_subtitle {
    font-size: 2.2vw;
  }

  #projects {
  position: relative;
  top: 10%;
  }

  h3.section_subtitle {
  font-size: 2rem;
  }

  .projects_container {
    grid-template-columns: 1fr 1fr;
  }
}
/* ------------------------------------------------------- */
@media(max-width: 600px) {
.projects_container {
  row-gap: 5rem;
  }
}
/* ------------------------------------------------------- */
@media(max-width: 500px) {
  div#intro_container {
    height: 80vh;
  }

  p#introduction {
    font-size: 0.7rem;
    letter-spacing: 1px;
    line-height: 15px;
  }

  #intro_container h2 {
    font-size: 3rem;
    margin-right: .8rem;
  }

  #chef {
    font-size: 5vw;
    margin-left: 2rem;
  }

  .animated_intro p {
    font-size: 3vw;
    position: relative;
    bottom: 30px;
    left: 1rem;
  }

  img#my_photo {
    width: 20vw;
  }

  a#resume {
    max-width: 35vw;
    padding: 10px;
    height: 4.5vh;
    font-size: 10px;
  }

  .frontend, .backend, .database, .design-tools, .dev-tools {
  gap: 1rem;
  }

  #skill {
    margin-top: 2rem;
  }

  div.skills-section.row {
    grid-template-columns: 1fr 1fr;
  }

  .projects_container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .projects_subtitle {
    font-size: 3.8vw;
  }

  #projects {
    position: relative;
    top: 5%;
  }

  .projects_img {
    max-width: 65vw;
  }
}

/* ------------------------------------------------------- */
@media(max-width: 375px) {
  #intro_container h2 {
    font-size: 2rem;
    margin-right: 1rem;
  }

  div#intro_container {
    height: 75vh;
  }

  h2#intro_name1.intro_name {
    font-size: 3.5rem;
  }

  div.greet_name {
    display: flex;
    justify-content: center;
  }

  img#my_photo {
    width: 25vw;
  }

  .animated_intro p {
    font-size: 4vw;
    position: relative;
    bottom: 30px;
    left: 1rem;
  }

  div.photo_text {
    display: flex;
    align-items: center;
    margin: 0 12rem;
  }

  a#resume {
    position: relative;
    bottom: 1rem;
    max-width: 40vw;
    padding: 7px;
    height: 4.5vh;
    font-size: 8px;
  }

  .scroll-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2rem;
  }

  h2#skills {
    font-size: 4vw;
    margin-top: 3rem;
  }

  .skills-section i {
    font-size: 6vw;
  }

  .skills-section img {
    width: 6vw;
  }

  .frontend, .backend, .database, .design-tools, .dev-tools {
    gap: 0.5rem;
  }

  div.about_content {
    position: absolute;
    top: 12%;
  }

  h3.section_subtitle {
    font-size: 1.5rem;
  }

  .projects_container {
    row-gap: 1rem;
  }

  .projects_title {
    font-size: 20px;
  }

  #projects {
    position: relative;
    top: 10%;
  }
}

/* ------------------------------------------------------- */
@media(max-width: 280px) {
  .animated_intro p {
  font-size: 4vw;
  position: relative;
  bottom: 30px;
  left: 1rem;
  }

  #i_am {
    font-size: 6vw;
    margin-left: 3rem;
  }
  p#introduction {
    font-size: 0.5rem;
    letter-spacing: 1px;
    line-height: 15px;
  }

  #introduction {
    min-width: 75vw;
  }

  div.my_photo_heading {
    position: relative;
    right: -25px;
    bottom: 20px;
  }

  a#resume {
    max-width: 50vw;
    padding: 7px;
    height: 4.5vh;
    font-size: 8px;
  }

  h2#skills {
    margin-top: 2rem;
    font-size: 6vw;
  }

  .scroll-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 70px;
  }

  div.about_content {
    position: absolute;
    top: 15%;
  }

  #skill {
    margin-top: 1rem;
  }

  div.skills-section.row {
    grid-template-columns: 1fr 1fr;
  }

  .skills-section > h3 {
    font-size: 0.5rem;
  }

  .projects_subtitle {
    font-size: 4vw;
  }

  ul.links li a {
    font-size: 0.8rem;
    margin: 1.2rem;
  }
}
