@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Trispace:wght@100..800&display=swap');
@import "font-awesome";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(#000000b5, rgba(2, 10, 10, 0.77)), url(https://wallpapers.com/images/hd/cooking-background-kk2seuicibm5qx0o.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Trispace", sans-serif;
}

/* INDEX */

li {
  list-style: none;
  width: max-content;
}


p {
  color: #cdcdcd;
}
/* HEADER */
.header {
  display: flex;
  position: fixed;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index:100;
}

.header::before {
  /* content: ""; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.logo {
  display: flex;
  align-items: center;
}

/* top link hover */
ul.links li a {
  background-image: linear-gradient(
    to right,
    #6ACFC7,
    #1c857d 50%,
    #b3fff9 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

ul.links li a:before {
  content: '';
  background: #6ACFC7;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

ul.links li a:hover {
 background-position: 0;
}

ul.links li a:hover::before{
  width: 100%;
}

#logo {
  width: 80px;
  border-radius: 50%;
}

ul.links {
  display: flex;
  align-items: center;
}

ul.links li a {
  margin: 2rem;
  color: #6ACFC7;
}
ul.links li a:hover {
  /* transition: 300ms ease-in-out; */
  color: #85fff5;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.navbar {
  width: 100%;
  height: 5rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #ff8cab; */
}

/* ICON */
/* HAMBURGER BAR */
#check {
  display: none;
}

div.toggle_btn {
  display: flex;
  align-items: center;
}

.icons {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
  display: none;
}

/* INTRODUCTION */
.greet {
  display: flex;
  justify-content: flex-end;
}

h2#intro_name1.intro_name {
  color: #9ae9e3;
  font-size: 125px;
}

#chutima {
  display: flex;
  align-items: baseline;
}

h1#intro_greet {
  font-size: 8rem;
  color: #cdcdcd;
  width: fit-content;
  letter-spacing: 5px;
}

h1#intro_greet:hover {
  color: #f0f0f0;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

#intro_container h2 {
  font-size: 6rem;
  color:#cdcdcd;
  margin-right: 1.5rem;
}

#i_am {
  font-size: 3rem;
  color:#cdcdcd;
  margin-right: 2rem;
}

div.greet_name {
  display: flex;
}

h2.intro_name {
  font-size: 6rem;
}

#chef {
  margin: 2rem 0px;
  font-size: 1.5rem;
  color: #cdcdcd;
}

#intro_name2:hover {
  color:#8dd4cf;
}

#intro_name3:hover {
  color:#6bc9c1;
}

#intro_name4:hover {
  color:#4cada5;
}

#intro_name5:hover {
  color:#1a968c;
}

#intro_name6:hover {
  color:#10615a;
}

#intro_name7:hover {
  color:#013530;
}

.intro_text_wrap {
  display: flex;
  justify-content: flex-end;
}

div.intro_text {
  width: 70%;
  letter-spacing: 1px;
  font-size: 16px;
}

section.intro_section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.section_container {
  width: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-line;
}

/* ABOUT ME */

section.about_me {
  height: 100vh;
  position: sticky;
}

#about_me {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

div.about_container {
  display: flex;
  justify-content: center;
}

div.my_photo {
  display: flex;
   justify-content: center;
}

div.photo_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 12rem;
}

div.about_content {
  position: absolute;
  top: 15%;
}

img#my_photo {
  width: 200px;
  border-radius: 50%;
}

#introduction {
  text-align: center;
  color: white;
  padding: 40px;
  letter-spacing: 1px;
}

div.intro_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#resume {
  color: orange;
}

/* icon */
i.bx.bxs-download {
  font-size: 15px;
  position: relative;
  top: 2px;
  margin-right: 4px;
}

#skill {
  color: white;
  text-align: center;
  margin-top: 3rem;
}

#skills {
  margin: 20px;
}

div.skills-section {
  margin: 3rem;
}

.skills-section > h3 {
  margin: 20px;
  letter-spacing: 3px;
}

.frontend, .backend, .database, .tools {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.skills-section i {
  font-size: 3em;
}

 img {
  object-fit: contain;
  margin: 2px 0;
  width: 46px;
}

.iconify {
  font-size: 2.7em;
  margin-top: 2px;
}

/* CONTACT ME */
.contact {
  padding-bottom: 0;
}

.contact_container {
  margin-top: 10rem;
}

.contact_mail {
  position: relative;
  top: 5%;
  background-color: black;
  padding: 1rem 4.5rem 4.5rem;
}

section#contact.contact_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 70px;
}

#contact_me {
  color: white;
}

.contact_title {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

label {
  color: white;
}

.contact_form, .contact_group {
  display: grid;
  row-gap: 1.2rem;
}

.contact_form {
  position: relative;
}

.contact_box {
  position: relative;
  width: 100%;
  height: 58px;
}

.contact_input {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: .5rem 1rem;
  font-weight:700;
  transition: border .4s, background-color .4s;
}

textarea#message.contact_input {
  height: 5rem;
}

button.contact_btn {
  margin-top: 2rem;
  height: 2.5rem;
}

div.contact_social {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.contact_input::placeholder {
  color: white;
  transition: opacity .4s;
}

.contact_input:focus {
  border: 3px solid white;
}

.contact_input:-webkit-autofill {
  transition: background-color 6000s, color 6000s;
}

.contact_label {
  position: absolute;
  top: -16px;
  left: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  background-color: black;
  padding: 8px;
  pointer-events: none;
  transition: top .4s, opacity .4s, background-color .4s;
  opacity: 0;
}

.contact_area textarea {
  resize: none;
  padding-top: 1rem;
}
/* buttons */

a#resume {
  display: inline-block;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .2s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color:#6cbcb8;
  box-shadow: inset 0 0 0 2px #69a09c;
  background-color: transparent;
  height: 48px;
  transition: 300ms ease-in-out;
}

a#resume:hover {
  cursor: pointer;
  color: #9fdfdb;
  background-color: #6faca839;
}


.contact_btn {
  background-color: #ff7700;
  cursor: pointer;
  border: none;
}

i.bx.bx-mail-send {
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* placeholder disappear */
.contact_input:focus::placeholder {
  opacity: 0;
}

/* move label up $ sticky label */
.contact_input:focus + .contact_label, .contact_input:not(:placeholder-shown).contact_input:not(:focus) + .contact_label {
  opacity: 1;
  top: -16px;
}

div.contact_social_links {
  margin-top: 1.2rem;
}

a.social_link {
  font-size: 30px;
}

.contact_social_links {
  column-gap: 2.75rem;
}

.social_link {
  padding: 5px;
  place-items: center;
  transition: background-color .3s;
}

.social_link:hover {
  color: #ffffff;
}

#contact_message {
  color: white;
  font-size: 15px;
  position: absolute;
  bottom: -2.5rem;
  left: 0;
}

/* projects */
section#projects.project_section {
  height: 100vh;
  display: flex;
  align-items: center;
}

p.project_description {
  color: white;
}

.projects {
  background-color: black;
  transition: background-color .4s;
}

.projects_container {
  row-gap: 2rem;
}

.projects_card {
  padding: 1rem 1rem 2rem;
  transition: background-color .4s;
  /* background-color: white; */
}

.projects_img {
  position: relative;
  margin-bottom: .75rem;
}

#project_img {
  width: 300px;
}

.projects_buttons {
  position: absolute;
  right: 1rem;
  bottom: -1.5rem;
  padding: 1rem;
}

.projects_content {
  margin-bottom: 1.25rem;
}

.projects_subtitle {
  position: relative;
  display: inline-block;
  margin-bottom: .75rem;
  padding-left: 1.75rem;
}

/*---------- RESPONSIVE DESIGN ----------*/

@media(max-width: 992px) {
  .header {
    padding: 1rem 2rem
  }
  .navbar .links {
    display: flex;
    font-size: 1rem;
  }

  #logo {
    width: 70px;
    transition: 400ms ease;
  }
}
/* show icons */
@media (max-width: 768px) {
  .header {
    padding: 1rem 2rem
  }

  #logo {
    top: 10px;
    position: relative;
    width: 50px;
  }

  .icons {
    display: inline-flex;
    padding: 2rem;
    position: absolute;
    top:0;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar {
    justify-content: center;
    position: absolute;
    top: 85%;
    left: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    background: rgba(121, 121, 255, 0.129);
    backdrop-filter: blur(10px);
  }

  #check:checked~.navbar {
    height: 14rem;
  }

  .navbar .links {
    display: flex;
    flex-direction: column;
  }
  .navbar a {
    display: block;
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
    transform: translateY(-10px);
    transition: .3s ease;
    opacity: 0;
  }

  #check:checked~.navbar a {
    transform: translateY(-10px);
    opacity: 1;
    transition-delay: calc(.15 * var(--i)) ;
  }

  li {
    margin-bottom: -30px;
  }
}
